# Compiled executables
calculator
calculator_tui
calculator_gui
calculator_mac

# Object files
*.o
*.obj

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~